.avatar {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.navi {
  margin: 20px auto;
  padding: 0 15px;
}

.navi li {
  display: inline-block;
  margin-right: 20px;
}

.twitter-bg {
  background-color: rgb(29, 161, 242);
}

.twitter-text {
  color: rgb(29, 161, 242);
}

.tweets {
  margin-top: 30px;
}

.tweets > li:only-of-type a {
  border-bottom: 1px solid #c3392a;
}

.tweet-reply-to .tweet:only-of-type,
.replies > li:only-of-type .tweet,
.replies > li:last-of-type .tweet {
  border-bottom: 1px solid #dad7d7;
}

.button.is-twitter {
  border-radius: 30px;
}

.tweet {
  color: #333;
  width: 100%;

  padding: 10px;
  display: flex;
  margin: 0 auto;
  border-bottom: 0;
  border-top: 1px solid #dad7d7;
  border-left: 1px solid #dad7d7;
  border-right: 1px solid #dad7d7;
  cursor: pointer;
}

.tweet:hover {
  background-color: rgb(245, 248, 250);
  transition: 0.3s ease-in;
}

.tweet-info {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  display: inline-block;
  align-items: center;
  vertical-align: bottom;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
}
.tweet-icon {
  color: #697784;
}
.tweet-icon:hover {
  color: rgb(29, 161, 242);
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.active {
  font-weight: bold;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}

.textarea {
  margin-bottom: 20px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.nav {
  margin-top: 20px;
  margin-left: 20px;
}
.nav li {
  display: inline-block;
  margin-right: 20px;
}
